<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">
      Home
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" routerLink="/settings">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar showCancelButton="focus" placeholder="Company, category, expense ..."></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <div>
      <h4 class="py-2 text-lg">Artistas Recomendados</h4>
      <div class="rounded-lg divide-zinc-700 divide-y-2 p-2 bg-zinc-800" *ngIf="content_loaded">
        <div class="w-full flex py-2 h-20 px-3" *ngFor="let recomendation of recomendations">
          <div class="w-1/5">

          </div>
          <div class="w-4/5">
            <h3 class="font-bold">{{recomendation.artist}}</h3>
            <small class="text-sm text-zinc-500">{{recomendation.song}}</small>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <!-- Skeletons -->
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full" *ngIf="!content_loaded">
      <ion-item color="primary" *ngFor="let i of [].constructor(3);">
        <ion-label color="medium">
          <h3><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h3>
          <p><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></p>
        </ion-label>
        <ion-skeleton-text slot="end" animated style="width: 10%"></ion-skeleton-text>
      </ion-item>
    </ion-list>

    <div>
      <div class="py-2 flex justify-between">
        <h4 class="text-lg">Volver a escuchar</h4>
        <ion-button color="medium" *ngIf="content_loaded">See All <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
      <div class="rounded-lg divide-zinc-700 divide-y-2 px-3 bg-zinc-800"  *ngIf="content_loaded">
        <div class="w-full flex py-2 h-20 gap-2" *ngFor="let song of lastSongs">

          <div class="h-full grow-0 aspect-square bg-zinc-950 rounded-md grid place-items-center">
            <ion-icon color="tertiary" size="large" name="caret-forward-outline"></ion-icon>
          </div>

          <label class="flex-grow py-1">
            <h3 class="text-md font-bold">{{song.song}}</h3>
            <p class="text-sm text-zinc-500">{{song.artist}}</p>
          </label>
          <small class="flex-shrink bg-slate-500 rounded-md py px-1 self-center font-semibold" color="secondary" slot="end">2:51</small>
        </div>
      </div>
    </div>

  </div>

</ion-content>
