<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">
      Home
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" routerLink="/settings">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar showCancelButton="focus" placeholder="Company, category, expense ..."></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <div>
      <h4 class="py-2 text-lg">Albumes Recomendados</h4>
      <div class="rounded-lg divide-zinc-700 divide-y-2 pt-1 bg-zinc-800" *ngIf="content_loaded">
        <div class="w-full flex py-2 h-20 px-3" *ngFor="let recommendation of recomendations">
          <div class="w-1/5">
            <div class="h-full grow-0 aspect-square bg-zinc-950 rounded-md grid place-items-center relative overflow-hidden">
              <img src="assets/placeholders/image-min.jpg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
              <ion-icon color="medium" size="large" name="caret-forward-outline" class="absolute"></ion-icon>
            </div>
          </div>
          <div class="w-4/5">
            <h3 class="font-bold">{{recommendation.name}}</h3>
            <small class="text-sm text-zinc-500">{{recommendation.artist?.nombre||'artist'}}</small>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <div>
      <div class="py-2 flex justify-between items-center">
        <h4 class="text-lg">Volver a escuchar</h4>
        <ion-button color="medium" *ngIf="content_loaded">See All <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
      <div class="rounded-lg divide-zinc-700 divide-y-2 px-3 bg-zinc-800 mb-3"  *ngIf="content_loaded">
        <div (click)="selectSong(song)" class="w-full flex py-2 h-20 gap-2 hover:cursor-pointer" *ngFor="let song of lastSongs">

          <div class="h-full grow-0 aspect-square bg-zinc-950 rounded-md grid place-items-center relative overflow-hidden">
            <img src="assets/placeholders/image-min.jpg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
            <ion-icon color="medium" size="large" name="caret-forward-outline" class="absolute"></ion-icon>
          </div>

          <label class="flex-grow py-1">
            <h3 class="text-md font-bold">{{song.titulo}}</h3>
            <p class="text-sm text-zinc-500">
              <span *ngFor="let artista of song.ArtistaCancion">{{artista.artista.nombre}}</span>
            </p>
          </label>
          <small class="flex-shrink bg-slate-500 rounded-md py px-1 self-center font-semibold" color="secondary" slot="end">{{
            formatDuration(song.duration)
          }}</small>
        </div>
      </div>
    </div>

  </div>

</ion-content>
