<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">
      Descubrir
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" routerLink="/settings">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Descubrir</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <div class="w-full bg-white text-gray-600 text-xl p-1 rounded-sm flex focus:ring-1 focus:ring-indigo-700">
      <input class="bg-white py-1 px-2 grow outline-none rounded-sm text-slate-800" type="text" placeholder="Buscar...">
    </div>

    <!-- <div class="mb-3">
      <h3 class="font-bold text-lg py-2">Explora tus generos</h3>
      <div class="flex gap-2 overflow-auto">
        <div class="w-32 shrink-0 bg-gray-950 h-52 rounded-md grid items-end">
          <label class="text-white font-semibold pb-3 pl-2" for="">#category</label>
        </div>
        <div class="w-32 shrink-0 bg-gray-950 h-52 rounded-md grid items-end">
          <label class="text-white font-semibold pb-3 pl-2" for="">#category</label>
        </div>
        <div class="w-32 shrink-0 bg-gray-950 h-52 rounded-md grid items-end">
          <label class="text-white font-semibold pb-3 pl-2" for="">#category</label>
        </div>
        <div class="w-32 shrink-0 bg-gray-950 h-52 rounded-md grid items-end">
          <label class="text-white font-semibold pb-3 pl-2" for="">#category</label>
        </div>
        <div class="w-32 shrink-0 bg-gray-950 h-52 rounded-md grid items-end">
          <label class="text-white font-semibold pb-3 pl-2" for="">#category</label>
        </div>
        <div class="w-32 shrink-0 bg-gray-950 h-52 rounded-md grid items-end">
          <label class="text-white font-semibold pb-3 pl-2" for="">#category</label>
        </div>
      </div>
    </div> -->

    <div class="mb-3">
      <h3 class="font-bold text-lg py-2 text-white">Explorar Todo</h3>
      <div class="grid grid-cols-2 gap-2">
        <div class="shrink-0 bg-green-800 h-24 rounded-md grid items-end">
          <h3 class="text-white font-semibold pb-3 pl-2" for="">Listas de reproduccion</h3>
        </div>
        <div class="shrink-0 bg-violet-700 h-24 rounded-md grid items-end">
          <h3 class="text-white font-semibold pb-3 pl-2" for="">Albums</h3>
        </div>
        <div class="shrink-0 bg-cyan-800 h-24 rounded-md grid items-end">
          <h3 class="text-white font-semibold pb-3 pl-2" for="">Artistas</h3>
        </div>
        <div class="shrink-0 bg-yellow-700 h-24 rounded-md grid items-end">
          <h3 class="text-white font-semibold pb-3 pl-2" for="">Canciones</h3>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <h3 class="font-bold text-lg pt-2 text-white">TOP 5 semanal</h3>
      <div class="flex flex-col gap-2 divide-y divide-gray-600">
        <div class="w-full flex h-20 gap-2 pt-3 pb-2 px-4" *ngFor="let song of topSongs">
          <div class="h-full grow-0 aspect-square bg-zinc-950 rounded-md grid place-items-center">
            <div class="h-full grow-0 aspect-square bg-zinc-950 rounded-md grid place-items-center relative overflow-hidden">
              <img src="assets/placeholders/image-min.jpg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
              <ion-icon color="medium" size="large" name="caret-forward-outline" class="absolute"></ion-icon>
            </div>
          </div>
          <label class="flex-grow py-1">
            <h3 class="text-md font-bold text-white">{{song.titulo}}</h3>
            <p class="text-sm text-zinc-500">
              <span *ngFor="let artist of song.ArtistaCancion">{{artist.artista.nombre}}</span>
            </p>
          </label>
          <small class="flex-shrink bg-slate-500 text-gray-300 rounded-md py px-1 self-center font-semibold" color="secondary" slot="end">
            {{formatDuration(song.duration)}}
          </small>
        </div>
      </div>
    </div>

  </div>

</ion-content>
