<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">
      Tu biblioteca
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="filter()">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="rounded-sm divide-zinc-800 w-100 mt-2 p-3 gap-3 flex flex-col bg-zinc-800" *ngIf="content_loaded">
      <div class="w-full flex gap-2">
        <div class="w-20 aspect-square bg-white">

        </div>
        <div class="grow grid content-center">
          <h3 class="font-bold">Favoritas</h3>
          <small class="text-sm text-zinc-500">Playlist - 960 canciones</small>
        </div>
      </div>
      <div class="w-full flex gap-2">
        <div class="w-20 aspect-square bg-white">

        </div>
        <div class="grow grid content-center">
          <h3 class="font-bold">Lista de prueba</h3>
          <small class="text-sm text-zinc-500">Playlist - Alessandro Venegas</small>
        </div>
      </div>
      <div class="w-full flex gap-2">
        <div class="w-20 aspect-square bg-white">

        </div>
        <div class="grow grid content-center">
          <h3 class="font-bold">Lista de prueba</h3>
          <small class="text-sm text-zinc-500">Playlist - Alessandro Venegas</small>
        </div>
      </div>
      <div class="w-full flex gap-2">
        <div class="w-20 aspect-square bg-white">

        </div>
        <div class="grow grid content-center">
          <h3 class="font-bold">Lista de prueba</h3>
          <small class="text-sm text-zinc-500">Playlist - Alessandro Venegas</small>
        </div>
      </div>
      <div class="w-full flex gap-2">
        <div class="w-20 aspect-square bg-white">

        </div>
        <div class="grow grid content-center">
          <h3 class="font-bold">Lista de prueba</h3>
          <small class="text-sm text-zinc-500">Playlist - Alessandro Venegas</small>
        </div>
      </div>
      <div class="w-full flex gap-2">
        <div class="w-20 aspect-square bg-white">

        </div>
        <div class="grow grid content-center">
          <h3 class="font-bold">Lista de prueba</h3>
          <small class="text-sm text-zinc-500">Playlist - Alessandro Venegas</small>
        </div>
      </div>
      <div class="w-full flex gap-2">
        <div class="w-20 aspect-square bg-white">

        </div>
        <div class="grow grid content-center">
          <h3 class="font-bold">Lista de prueba</h3>
          <small class="text-sm text-zinc-500">Playlist - Alessandro Venegas</small>
        </div>
      </div>
      <div class="w-full flex gap-2">
        <div class="w-20 aspect-square bg-white">

        </div>
        <div class="grow grid content-center">
          <h3 class="font-bold">Lista de prueba</h3>
          <small class="text-sm text-zinc-500">Playlist - Alessandro Venegas</small>
        </div>
      </div>
      <div class="w-full flex gap-2">
        <div class="w-20 aspect-square bg-white">

        </div>
        <div class="grow grid content-center">
          <h3 class="font-bold">Lista de prueba</h3>
          <small class="text-sm text-zinc-500">Playlist - Alessandro Venegas</small>
        </div>
      </div>
      <div class="w-full flex gap-2">
        <div class="w-20 aspect-square bg-white">

        </div>
        <div class="grow grid content-center">
          <h3 class="font-bold">Lista de prueba</h3>
          <small class="text-sm text-zinc-500">Playlist - Alessandro Venegas</small>
        </div>
      </div>
      <div class="w-full flex gap-2">
        <div class="w-20 aspect-square bg-white">

        </div>
        <div class="grow grid content-center">
          <h3 class="font-bold">Lista de prueba</h3>
          <small class="text-sm text-zinc-500">Playlist - Alessandro Venegas</small>
        </div>
      </div>
      <div class="w-full flex gap-2">
        <div class="w-20 aspect-square bg-white">

        </div>
        <div class="grow grid content-center">
          <h3 class="font-bold">Lista de prueba</h3>
          <small class="text-sm text-zinc-500">Playlist - Alessandro Venegas</small>
        </div>
      </div>
    </div>
</ion-content>
